.charts{
    padding: 1rem;
    .charts__content1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        @media screen and (max-width: 768px){
            grid-template-columns: repeat(1, 1fr);
        }
        .left__chart{
            padding: 1rem;
            color: #fff;
            background-color: #191C24;
            position: relative;
            width: 100%;
            border-radius: 5px;
            z-index: -1;
        }
        .right__chart{
            padding: 1rem;
            color: #fff;
            background-color: #191C24;
            position: relative;
            width: 100%;
            border-radius: 5px;
            z-index: -1;
        }
    }
    .charts__content2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-top: 16px;
        @media screen and (max-width: 768px){
            grid-template-columns: repeat(1, 1fr);
        }
        .left__chart2{
            background-color: #191C24;
            border-radius: 5px;
            padding: 1rem;
            z-index: -1;
            h3{
                color: #fff;
                padding-bottom: 20px;
            }
        }
        .right__chart2{
            background-color: #191C24;
            border-radius: 5px;
            padding: 1rem;
            z-index: -1;
            h3{
                color: #fff;
                padding-bottom: 20px;
            }
        }
    }
    .charts__content3{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-top: 16px;
        @media screen and (max-width: 768px){
            grid-template-columns: repeat(1, 1fr);
        }
        .left__chart3{
            background-color: #191C24;
            padding: 1rem;
            border-radius: 5px;
            z-index: -1;
            h3{
                color: #fff;
            }
        }
        .right__chart3{
            background-color: #191C24;
            padding: 1rem;
            border-radius: 5px;
            z-index: -1;
            h3{
                color: #fff;
            }
        }
    }
}