@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');



:root{
  --PrimaryColor: hsl(94, 59%,35% );
  --HoverColor: #bdf094;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --grayText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  --itemCardColor: hsl(120, 5%, 88%);
  --itemCardHover: hsl(120, 27%, 87%);

  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;
}

body{
  /* background-color: #000; */
  /* background-color: #c8d6e5; */
  /* background-color: #f5f6fa; */
  background-color: #d2dae2;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  transition: .3s ease;
}

::-webkit-scrollbar{
  display: none;
}

html{
  font-size: 90%;
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

.icon{
  font-size: var(--h2FontSize);
  cursor: pointer;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

.btn{
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: .8rem 1rem;
  color: #fff !important;
  background-color: #3F6493;
}

.btn .icon{
  margin-left: .5rem;
}

.btn:hover{
  background-color: #242938;
  color: #3F6493;
}

.container{
  display: flex;
  flex-direction: column;
  margin-left: 18%;
}

@media screen and (max-width: 1050px) {
  .container{
    margin-left: 0;
  }
}
